@import "../../global/variables.scss";

.settings__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border: none;

  margin-bottom: 100px;

  & .settings__title {
    font-family: $font;
    text-align: center;
  }
}
