@import "../../global/variables.scss";

.settings__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border: none;

  margin-bottom: 100px;

  & .settings__title {
    font-family: $font;
    text-align: center;
  }
}

.active-easy {
  color: rgb(71, 253, 71);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.active-default {
  color: rgb(255, 153, 0);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.active-hard {
  color: $red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
