@font-face {
  font-family: "Minecraft Title Cyrillic Regular";
  src: url("/src/fonts/minecraft-title-cyrillic-regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
