//fonts
$font: "Minecraft Title Cyrillic Regular", sans-serif;

//colors
$white: #fff;
$black: #000;
$gray: #ccc;
$red: #f00;
$green: rgb(0, 173, 0);
$brown: #362100;
$dark-brown: #241000;

//breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

//cell colors
$blue: rgb(70, 70, 250);
$dark-blue: rgb(43, 43, 143);
$aqua: rgb(0, 255, 255);
